In [2]:
import pandas as pd
import numpy as np
from sklearn.neural_network import MLPRegressor

In [3]:
data_url="https://s3.amazonaws.com/hr-testcases/399/assets/trainingdata.txt"

In [4]:
data=pd.read_csv(data_url)

In [5]:
data.head()

   2.81  5.62
0  7.14  8.00
1  2.72  5.44
2  3.87  7.74
3  1.90  3.80
4  7.82  8.00

In [6]:
pd.isnull(data["2.81"])

0     False
1     False
2     False
3     False
4     False
      ...
94    False
95    False
96    False
97    False
98    False
Name: 2.81, Length: 99, dtype: bool

In [7]:
data2=pd.read_csv(data_url, header= None)

In [8]:
data2.head()

      0     1
0  2.81  5.62
1  7.14  8.00
2  2.72  5.44
3  3.87  7.74
4  1.90  3.80

In [9]:
data2.columns=["Time Changer","Battery Lasted"]
data2.head()

   Time Changer  Battery Lasted
0          2.81            5.62
1          7.14            8.00
2          2.72            5.44
3          3.87            7.74
4          1.90            3.80

In [10]:
x=data2["Time Changer"]
y=data2["Battery Lasted"]

X=x[:,np.newaxis]

from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y)

In [11]:
mlr=MLPRegressor(solver="lbfgs",alpha= 1e-5, hidden_layer_sizes=(3,3), random_state=1)

In [12]:
mlr.fit(X_train, y_train)

MLPRegressor(activation='relu', alpha=1e-05, batch_size='auto', beta_1=0.9,
             beta_2=0.999, early_stopping=False, epsilon=1e-08,
             hidden_layer_sizes=(3, 3), learning_rate='constant',
             learning_rate_init=0.001, max_fun=15000, max_iter=200,
             momentum=0.9, n_iter_no_change=10, nesterovs_momentum=True,
             power_t=0.5, random_state=1, shuffle=True, solver='lbfgs',
             tol=0.0001, validation_fraction=0.1, verbose=False,
             warm_start=False)

In [13]:
print(mlr.score(X_train,y_train))

0.9999999999997528

In [17]:
print("prediccion en t=5.50 minutos ",mlr.predict([[3.45]]))

prediccion en t=5.50 minutos  [6.89999976]

In [15]:
data2.head(22)

    Time Changer  Battery Lasted
0           2.81            5.62
1           7.14            8.00
2           2.72            5.44
3           3.87            7.74
4           1.90            3.80
5           7.82            8.00
6           7.02            8.00
7           5.50            8.00
8           9.15            8.00
9           4.87            8.00
10          8.08            8.00
11          5.58            8.00
12          9.13            8.00
13          0.14            0.28
14          2.00            4.00
15          5.47            8.00
16          0.80            1.60
17          4.37            8.00
18          5.31            8.00
19          0.00            0.00
20          1.78            3.56
21          3.45            6.90